/* home.css */

.weather-card {
    width: 350px;
    background-color: rgba(23, 23, 24, 0.9);
    color: #ffffff;
    padding: 5px; /* Reduzi de 20px para 15px */
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform 0.3s ease;
    border: 1px solid #8d8989;
    box-shadow: 0px 0px 50px #000000;
}

.current-weather-container h2,
.forecast-container h2 {
    font-size: 16px; /* Reduzi de 24px para 22px */
    margin-bottom: 5px; /* Reduzi de 10px para 5px */
    text-align: center;
}

.weather-icon {
    width: 50px; /* Reduzi de 80px para 60px */
    height: auto;
    margin: 5px auto; /* Reduzi de 10px para 5px */
    display: block;
}

.current-weather-container h1,
.temp-container h1 {
    font-size: 20px; /* Reduzi de 48px para 36px */
    margin: 5px 0; /* Reduzi de 10px para 5px */
    text-align: center;
}

.current-weather-container p,
.temp-container p,
#previsao-dia p {
    margin: 3px 0; /* Reduzi de 5px para 3px */
    text-align: center;
}

.forecast-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rain-icon {
    width: 20px; /* Reduzi de 24px para 20px */
    height: auto;
    margin-right: 5px;
}

.prev-day, .next-day {
    font-size: 28px; /* Reduzi de 36px para 28px */
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.prev-day:hover, .next-day:hover {
    color: #2EC2D6;
}

#previsao-dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Ajuste para telas pequenas */
@media screen and (max-width: 400px) {
    .weather-card {
        width: 90%;
        bottom: 10px;
        right: 5%;
    }

    .weather-icon {
        width: 50px; /* Ajustei proporcionalmente */
    }

    .current-weather-container h1,
    .temp-container h1 {
        font-size: 28px; /* Ajustei proporcionalmente */
    }

    .prev-day, .next-day {
        font-size: 24px; /* Ajustei proporcionalmente */
    }
    .prev-day[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.temp-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp-icon-container .weather-icon {
    width: 60px;
    height: auto;
    margin-right: 15px;
}

.temp-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.temp-details h1 {
    margin: 0;
    font-size: 36px;
}

.temp-details p {
    margin: 3px 0;
}

@media screen and (max-width: 400px) {
    .temp-icon-container .weather-icon {
        width: 50px;
        margin-right: 10px;
    }

    .temp-details h1 {
        font-size: 28px;
    }
}

.separator-line {
    width: 100%;
    height: 0.1px;
    background-color: #8d8989; /* Cor da linha */
    margin: 20px 0; /* Espaçamento superior e inferior */
}
