<!-- templates/documentos/nova_revisao.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Nova Revisão{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/registrar.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Nova Revisão - {{ documento.nome }}</h2>

    {% if mensagem %}
        <div class="alert alert-warning">
            {{ mensagem }}
        </div>
    {% endif %}

    {% if revisao_pendente %}
        <!-- Exibe detalhes da revisão pendente -->
        <p><strong>Revisão Pendente</strong></p>
           <ul> 
            <li class="lista-revisao"><strong>Revisão Número:</strong> {{ revisao_pendente.revisao }}</li>
            <li class="lista-revisao"><strong>Status:</strong> {{ revisao_pendente.get_status_display }}</li>
            <li class="lista-revisao"><strong>Data de Criação:</strong> {{ revisao_pendente.data_criacao|date:"d/m/Y H:i" }}</li></ul>
            <!-- Você pode adicionar mais detalhes se necessário -->
        
        <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
    {% else %}
        <!-- Exibe o formulário normalmente -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Exibe mensagens de erro gerais apenas quando houver -->
            {% if form.non_field_errors %}
                <div class="error-message" style="color: red;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <!-- Campos do formulário -->
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="error-message" style="color: red;">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form-buttons">
                <a href="{% url 'documentos:listar_documentos_aprovados' %}">
                    <button type="button">Cancelar</button>
                </a>
                <button type="submit">OK</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Incluindo o arquivo de idioma para português -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/pt-BR.js"></script>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            width: 'resolve',
            language: 'pt-BR'
        });
    });
</script>
{% endblock %}
