/* Estilos Gerais */
body {
    font-family: 'Inter';
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    margin-top: 5%;
}

/* Tooltip personalizado para action-icon, icon-link e edit-icon */
.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #555;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Botões de ação gerais (ex: personificar, adicionar usuário) */
.icon-link {
    margin-left: 28px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.icon-link:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Ícones de ação específicos de edição */
.edit-icon {
    margin-left: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.edit-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.edit-icon img:hover {
    transform: scale(1.5);
}

/* Ajuste da tooltip ao passar o mouse no ícone de edição */
.edit-icon:hover .tooltip-text {
    left: 97%;
    bottom: 75%;
    font-size: 14px;
    z-index: 1000;
    visibility: visible;
    opacity: 1;
}

.edit-icon:hover .tooltip-text::after {
    left: 65%;
}

/* Botão de Personificar Usuário */
.action-icon {
    margin-left: 10px; /* Ajuste se desejar mais ou menos espaço */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.action-icon img {
    width: 24px;  /* Mesmo tamanho do ícone de editar */
    height: 24px; /* Mesmo tamanho do ícone de editar */
    cursor: pointer;
    transition: transform 0.2s;
}

.action-icon:hover img {
    transform: scale(1.5);
}

/* Ajuste da tooltip quando o mouse está sobre o botão de personificar */
.action-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    z-index: 1000;
}

.action-icon:hover .tooltip-text::after {
    left: 50%;
    transform: translateX(-50%);
}

/* Filtro de Busca */
.search-container {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
}

/* Estilos da Lista de Usuários */
.user-container {
    margin-top: 2%;
    background-color: rgba(33, 32, 32, 0.119); /* Leve transparência para destaque */
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #bdbcbc;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-container:hover {
    background-color: rgba(33, 32, 32, 0.2);
    transform: scale(1.01);
}

.user-item {
    display: flex;
    align-items: center;
}

.user-status {
    margin-right: 20px;
}

.user-info {
    flex-grow: 1;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
}

.user-info div {
    margin: 5px 0;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Controla o espaço horizontal entre os ícones */
  }

/* Responsividade */
@media (max-width: 768px) {
    .user-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-grid {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
    }

    .user-actions {
        margin-left: 0;
        margin-top: 10px;
    }

    .edit-icon:hover .tooltip-text{
        left: 6.5%;
        bottom: 18%;
        font-size: 14px;
        z-index: 1000;
        visibility: visible;
        opacity: 1;
    }
    
    .edit-icon:hover .tooltip-text:after{
        left: 35%;
    }
}

/* Barra de ícones para adicionar e atualizar usuários */
.icons-bar {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.icon {
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.5);
}
