{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home2.css' %}">
{% endblock %}

{% block content %}

<!-- LINK PARA O MES E ANDON -->
<!-- ROTO010 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/15" class="modal-content">
    <div class="modal-container"><img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO010</span>
    </div>
</a>
<!-- ROTO022 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/51" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO022</span>
    </div>
</a>
<!-- ROTO070 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/23" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO070</span>
    </div>
</a>
<!-- ROTO080 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/27" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO080</span>
    </div>
</a>
<!-- ROTO090 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/31" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO090</span>
    </div>
</a>
<!-- ROTO100 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/29" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO100</span>
    </div>
</a>
<!-- ROTO110 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/30" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO110</span>
    </div>
</a>
<!-- ROTO120 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/32" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Producao.png" class="modal-img">
        <span class="modal-title">ROTO120</span>
    </div>
</a>

<!-- ACAB010 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andon6/39" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Acabamento.png" class="modal-img">
        <span class="modal-title">ACAB010</span>
    </div>
</a>

<!-- ACAB020 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andon6/40" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Acabamento.png" class="modal-img">
        <span class="modal-title">ACAB020</span>
    </div>
</a>

<!-- ACAB030 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andon6/41" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Acabamento.png" class="modal-img">
        <span class="modal-title">ACAB030</span>
    </div>
</a>

<!-- ACAB040 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andon6/42" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Acabamento.png" class="modal-img">
        <span class="modal-title">ACAB040</span>
    </div>
</a>

<!-- ACAB050 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andon6/43" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Acabamento.png" class="modal-img">
        <span class="modal-title">ACAB050</span>
    </div>
</a>

<!-- ACAB055 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andon6/44" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Acabamento.png" class="modal-img">
        <span class="modal-title">ACAB055</span>
    </div>
</a>

<!-- ACAB060 -->
<a href="http://mes.rotoplastyc.com.br/Analises/Andon6/38" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Acabamento.png" class="modal-img">
        <span class="modal-title">ACAB060</span>
    </div>
</a>


<!-- GAMBIARRA PARA ORGANIZAR 
		<a href="http://mes.rotoplastyc.com.br/Analises/Andontv2/32" onclick="return false;"></a>

		-->
{% endblock %}