{% load static %} <!-- Carrega as tags de arquivos estáticos -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portal Rotoplastyc{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> <!-- CSS global -->

    <!-- Bloco extra_css para incluir CSS adicional em páginas específicas -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Menu Superior -->
    <header class="top-bar">
        <div class="menu-icon" onclick="toggleMenu()"> <!-- Clique para abrir o menu lateral -->
            <span class="icon">&#9776;</span>
        </div>
        <div class="profile-icon">
            <img src="{% static 'images/user-profile.jpg' %}" alt="Usuário">
            <span class="dropdown">&#9660;</span>
        </div>
    </header>

    <!-- Menu Lateral -->
    <nav class="side-bar" id="side-bar">
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/home-icon.png' %}" alt="Home">
                    <span class="menu-label">Home</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="toggleSubmenu(event)">
                    <img src="{% static 'images/administracao.png' %}" alt="Administração">
                    <span class="menu-label">Administração</span>
                </a>
                <ul class="submenu">
                    <li><a href="{% url 'lista_usuarios' %}">Usuários</a></li>
                    <li><a href="#">Permissões</a></li>
                    
                </ul>
            </li>
            <!-- Adicione mais itens de menu conforme necessário -->
        </ul>
    </nav>

    <!-- Conteúdo da página -->
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Script para abrir e fechar o menu lateral -->
    <script>
        function toggleMenu() {
            var sideBar = document.getElementById("side-bar");
            sideBar.classList.toggle("expanded");

            // Fecha todos os submenus ao fechar o menu
            if (!sideBar.classList.contains("expanded")) {
                var submenus = document.querySelectorAll('.submenu');
                submenus.forEach(function(submenu) {
                    submenu.classList.remove('open');
                });
            }
        }

        function toggleSubmenu(event) {
            event.preventDefault(); // Evita que o link navegue
            var submenu = event.currentTarget.nextElementSibling; // O próximo elemento é o submenu

            // Verifica se o submenu existe e a barra lateral está expandida
            if (submenu && document.getElementById("side-bar").classList.contains("expanded")) {
                submenu.classList.toggle('open'); // Alterna a classe 'open' para mostrar ou esconder o submenu
            }

            // Fecha todos os outros submenus
            var allSubmenus = document.querySelectorAll('.submenu');
            allSubmenus.forEach(function(s) {
                if (s !== submenu) {
                    s.classList.remove('open'); // Fecha os outros submenus
                }
            });
        }

        // Eventos de mouse para exibir o submenu quando a barra lateral está fechada
        document.querySelectorAll('.side-bar ul li').forEach(function(item) {
            item.addEventListener('mouseenter', function() {
                if (!document.getElementById("side-bar").classList.contains("expanded")) {
                    var submenu = this.querySelector('.submenu');
                    if (submenu) {
                        submenu.classList.add('open'); // Abre o submenu ao passar o mouse
                    }
                }
            });

            item.addEventListener('mouseleave', function() {
                var submenu = this.querySelector('.submenu');
                if (submenu) {
                    submenu.classList.remove('open'); // Fecha o submenu ao sair
                }
            });
        });
    </script>
</body>
</html>
