{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subhome.css' %}">
{% endblock %}

{% block content %}

<a href="/static/pdfs/DescricaoCargos.pdf" class="modal-content">
        <div class="modal-container">
                <img src="/static/images/matriz-1.png" class="modal-img">
                <span class="modal-title">Descrição de Cargos Matriz</span>
        </div>
</a>
<a href="/static/pdfs/Descrição de cargos Filial.pdf" class="modal-content">
        <div class="modal-container">
                <img src="/static/images/filial-1.png" class="modal-img">
                <span class="modal-title">Descrição de Cargos Filial</span>
        </div>
</a>

{% endblock %}