{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subhome.css' %}">
{% endblock %}

{% block content %}


<a href="http://portal.rotoplastyc.com.br/bi/113/" target="_blank" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/indicadorgeral.png" class="modal-img">
        <span class="modal-title"> PR - Participação <p>Resultados</p></span>
    </div>
</a>


<a href="http://portal.rotoplastyc.com.br/bi/106/" target="_blank" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/sol.png" class="modal-img">
        <span class="modal-title"> BI Sol</span>
    </div>
</a>

<a href="http://portal.rotoplastyc.com.br/bi/101/" target="_blank" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/order.png" class="modal-img">
        <span class="modal-title"> Consumo Interno</span>
    </div>
</a>

{% endblock %}