{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/subhome.css' %}">
{% endblock %}

{% block content %}

<a href="/static/images/planoondonto.png" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Odontologico.png" class="modal-img">
        <span class="modal-title">Odontoprev</span>
    </div>
</a>


<!--<a href="/static/pdfs/Odonto parceiros.pdf" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/parceirosodonto.png" class="modal-img">
        <span class="modal-title">Parceiros Odontológicos</span>
    </div>
</a>-->


   {% endblock %}