{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/subhome.css' %}">
{% endblock %}

{% block content %}

<!-- <a href="{% url 'home' %}" class="back-button">Voltar</a> -->

<!-- LINK PARA O MES E ANDON -->
<a href="https://erp.rotoplastyc.com.br/Tecnicon/Portal" target="_blank" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Tecnicon.png" id="efect" class="modal-img">
        <span class="modal-title">Tecnicon</span>
    </div>
</a>
<!--Monitores-->
<a href="{% url 'monitores' %}" class="modal-content">
    <div class="modal-container">
        <img src="/static/images/Monitores.png" id="efect" class="modal-img">
        <span class="modal-title">Monitores</span>
    </div>
</a>

{% endblock %}